db
target
inferred-instructions-fact-factories/io/github/bineq/daleq/factextraction/instruction_fact_factories
inferred-instructions-fact-factories
inferred-instruction-predicates
.benchmarks
merged-facts-and-rules.souffle
trainingdata
.tests
.tmp
idb.txt
